fastapi==0.115.0
fastapi-jwt[authlib]==0.3.0
uvicorn==0.31.0
gunicorn==21.0.0
python-multipart==0.0.11
requests==2.32.3
dotenv==0.9.9
httpx==0.28.1
xgboost
beartype
python-docx
pdfplumber
pypdf
huggingface_hub
six
opencv-python
onnxruntime
shapely
pyclipper
datrie
hanziconv
nltk
chardet
tiktoken
pandas
openpyxl
python-pptx
readability-lxml
lxml_html_clean
html-text
markdown
pymilvus>=2.3.0
xxhash
tika
openai
jieba
llama-index-core
llama-index-postprocessor-dashscope-rerank-custom
dashscope
apscheduler>=3.10.0
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0